.evolution-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1.2rem auto;
  width: 70%;
  padding: 1rem 0;
  height: 12rem;
}

.evolution-item {
  text-align: center;
  margin: 0 10px;
}

.evolution-item img {
  width: 6rem;
  height: 6rem;
}

.arrow {
  font-size: 2rem;
  margin: 0 10px;
}
