.app-logo-container{
    height: fit-content;
    position: absolute;
    height: 5rem;
}

.app-logo{
    z-index: 9;
    position: relative;
    top: -50%;
    right: 0;
    left: 20%;
    bottom: 0;
    font-size: 10rem;
    color: #3168B1;
}

.fire-logo, .fav-logo, .home-logo{
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
}

.navbar-holder{
    width: fit-content;
    background-color: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.6rem 1rem;
    border-radius: 20rem;
    gap: 1.5rem;
}

.navbar-container{
    height: 5rem;
    /* background-color: var(--color-primary); */
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;
}

.search-bar-container{
    height: 1.9rem;
    width: 1.9rem;
    /* overflow: hidden; */
    transition: width 0.4s ease, padding-left 0.4s ease;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    border: none;
    background-color: white;
    border-radius: 20rem;
    cursor: pointer;
}

.search-bar-container.expanded {
    width: 20rem;
    padding-left: 0.5rem;
}

.search-bar-container input{
    opacity: 1;
    padding: 0.2rem 0;
    border-bottom-right-radius: 20rem;
    border-top-right-radius: 20rem;
    border: none;
    height: 100%;
    width: 100%;
    outline: none;
}

.search-bar-container:not(.expanded) input {
  opacity: 0;
}

.search-icon-wrapper {
    width: 1.9rem;
    height: 1.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-shrink: 0; */
}

.search-bar-container .svg {
    color: black;
    font-size: 1.3rem;
    stroke-width: 1rem;
    margin: 0 0.5rem;
}

.search-bar-container:not(.expanded) .svg {
    opacity: 1;
    height: 10rem;
    width: 10rem;
}

.navbar-container a{
    text-decoration: none;
}

@media screen and (max-width: 528px) {
    .search-bar-container.expanded {
        width: 15rem;
        padding-left: 0.5rem;
    }
}

@media screen and (max-width: 450px) {
    .search-bar-container.expanded {
        width: 11rem;
        padding-left: 0.5rem;
    }
}

/*
.search-bar-container {
  position: relative;
  overflow: visible;
}

.search-input-wrapper {
  position: relative;
  width: 100%;
}

.suggestions-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  border-radius: 0.5rem;
  z-index: 10;

  background-color: yellow !important;
  height: 100% !important;
  border: 1px solid black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.suggestions-dropdown li {
  padding: 0.4rem 1rem;
  cursor: pointer;
  transition: background 0.2s ease;
}

.suggestions-dropdown li:hover {
  background-color: #f0f0f0;
}

*/