.detail-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.detail-card {
  width: 90%;
  max-width: 800px;
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0 8px 32px rgba(0,0,0,0.25);
  background: white;
  display: flex;
  flex-direction: column;
}

.detail-header {
  /* background: #4aa3df; */
  padding: 2rem;
  position: relative;
  text-align: center;
  color: white;
}

.pokemon-info h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.pokemon-info img {
  width: 120px;
  height: 120px;
  image-rendering: pixelated;
}

.back-button {
  position: absolute;
  top: 1rem;
  left: 1rem;
  cursor: pointer;
}

.back-button-icon {
  color: white;
  /* background-color: black; */
  border-radius: 50%;
  font-size: 2rem;
}

.detail-content {
  background: white;
  padding: 1.5rem;
}


@media screen and (max-width: 540px) {

  .detail-header{
    padding: 2rem 2rem 1rem 2rem;
  }

  .pokemon-info h1 {
    font-size: 1.8rem;
    margin-bottom: 0;
    margin-top: 1.5rem;
  }

  .pokemon-info{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}