*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100vh;
  width: 100vw;
}

.main-container{
  height: 100%;
  /* background-color: yellow; */
  padding: 0 12rem;

  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.card-container{
  /* background-color: #7c3aed; */
  height: 100%;
  width: 100%;
  margin: 5rem auto;

  display: flex;
  justify-content: center;
}

.cards{
  width: 88%;
  /* background-color: #fda4af; */
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.individual-pokemon-card{
  width: 100%;
  border: 2px solid black;
  border-radius: 10px;
  list-style-type: none;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.svg-container img{
  /* position: relative;
  left: 18rem;
  height: 1.9rem;
  z-index: 10; */

  display: none;
}

.pokemon-image-container{
  width: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
}

.pokemon-image-container .pokemon-image{
  height: 7rem;
  margin: 1.8rem 0 0;
  /* object-fit: cover; */
}

.pokemon-name{
  /* background-color: magenta; */
  margin: 1.2rem;
}

.types-container{
  display: flex;
  gap: 2rem;
}

.types-container p{
  /* background-color: magenta; */
  border-radius: 10px;
  padding: 0.3rem 0.8rem;
  margin-bottom: 1.2rem;

  border: 1px solid black;
}

/*Search input*/

header{
  width: 88%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 1.7rem;
}

.pokemon-input-container {
  position: relative;
  width: 40rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.pokemon-input-container::before {
  content: '';
  position: absolute;
  width: 3rem;
  height: 3rem;
  right: 0;
  background-color: #8b5cf6;
  border-radius: 9999px;
  filter: blur(8px);
}

.pokemon-input-container::after {
  content: '';
  position: absolute;
  z-index: -10;
  width: 5rem;
  height: 5rem;
  right: 3rem;
  top: 0.75rem; 
  background-color: #fda4af;
  border-radius: 9999px;
  filter: blur(8px);
}

.pokemon-input {
  position: relative;
  background-color: transparent;
  border: 1px solid #737373;
  color: #171717;
  font-size: 0.875rem;
  border-radius: 0.5rem;
  width: 100%;
  padding: 0.625rem;
  outline: none;
}

.pokemon-input::placeholder {
  color: #7c3aed;
  opacity: 0.6;
}

.pokemon-input:focus {
  border-color: #8b5cf6; 
  box-shadow: 0 0 0 1px #8b5cf6;
}


.hamburger-icon{
  height: 2rem;
}